body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*ADD class in Components elements and hide is not use*/

  .is-hidden{
    display: none;
  }

  
